body {
  padding: 15px 130px;
  background-color: #f9fbfc;
  border: 10px solid white;
}

.local_detail img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.local h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-transform: capitalize;
}

.local h2 {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 400;
}

.local {
  padding-top: 40px;
  padding-bottom: 5px;
}

.current {
  font-size: 20px;
  line-height: 25px;
}

.local_detail {
  padding-top: 20px;
  padding-bottom: 90px;
}

.col {
  text-align: center;
}

.day_future {
  margin: 0;
  padding-bottom: 5px;
  font-family: "Lora", serif;
  font-weight: 400;
}

.temp_future {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
}

.search_form input {
  display: block;
  margin: 0 auto;
  width: 65%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  padding-left: 25px;
  border: 1px solid #ced2d4;
  background-color: #f9fbfc;
  text-align: left;
}

.temp_digit {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 35px;
  position: relative;
  left: 350px;
  top: 50px;
}

.unit {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  left: 355px;
  top: 35px;
}

.strong {
  font-weight: 900;
}

.capitalize {
  text-transform: capitalize;
}

footer {
  padding-top: 35px;
  padding-left: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

footer a {
  font-weight: 600;
  color: rgb(23, 141, 141);
}

footer a:hover {
  font-weight: 600;
  color: rgb(23, 141, 141);
  text-decoration: none;
}

.temp_circle {
  width: 70%;
}

.page_name {
  position: relative;
  right: 10%;
  bottom: 10px;
}
.temp_conversion {
  position: relative;
  left: 90%;
  bottom: 10px;
}

header {
  font-weight: 900;
  font-size: 25px;
}
