body {
  background-color: #fcfeff;
}

.container {
  margin-top: 15px;
}

.pageCenter {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.temp_digit {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -0.11px;
  color: #465866;
  width: 200px;
  margin-right: 59px;
  text-align: right;
}

.humid_wind {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.11px;
  color: #465866;
  list-style: none;
  margin-left: 59px;
  width: 200px;
  text-align: left;
}

ul {
  padding: 0;
}

.big_circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #f4f4f4;
}

.gradient_overlay {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  background: linear-gradient(-25deg, transparent, rgba(255, 255, 255, 0.4));
  background-blend-mode: screen;
  z-index: 10;
}

.col {
  text-align: center;
}

.day_future {
  margin: 0;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.11px;
  color: #465866;
}

.temp_future {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.11px;
  padding-top: 10px;
  color: #465866;
}

.temp_circle {
  width: 60%;
  border-radius: 50%;
  height: 80px;
  display: block;
  margin: 0 auto;
  background-color: #f4f4f4;
}

.gradient_overlay_small {
  border-radius: 50%;
  height: 80px;
  display: block;
  margin: 0 auto;
  background: linear-gradient(-25deg, transparent, rgba(255, 255, 255, 0.4));
  background-blend-mode: screen;
  z-index: 10;
}

.widgetContainer {
  width: auto;
  width: 760px;
  top: 350px;
  position: relative;
  margin: 0 auto;
}

.centerme {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.firstWidgetCircle {
  width: 294px;
  height: 294px;
  display: block;
  border-radius: 50%;
  background: #ffe18f;
}

.widgetText {
  display: block;
  width: auto;
  height: 62px;
  z-index: 10;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #465866;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.11px;
}

.conversion-f,
.conversion-c {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 28px;
  position: absolute;
  top: 0px;
  height: 40px;
  width: 40px;
  text-align: center;
  letter-spacing: 15px;
  line-height: 40px;
}

.conversion-f {
  padding-left: 11px;
  right: 25px;
}

.conversion-c {
  padding-left: 9px;
  right: 80px;
}

.f-selected,
.c-selected {
  color: #fcfeff;
  background-color: #465866;
  border-radius: 50%;
  cursor: default;
}

.celcius,
.fahrenheit {
  color: #465866;
}

.header {
  position: relative;
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageName {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #465866;
  width: 300px;
  position: absolute;
  top: 0px;
  left: 30px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #465866;
}

a:hover {
  color: #465866;
  text-decoration: none;
}
.searchForm input {
  max-width: 700px;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  padding-left: 25px;
  border: 0.8px solid #aec2d2;
  background-color: #fcfeff;
  text-align: left;
  outline: none;
}

::placeholder {
  color: #94aec2;
  font-size: 20px;
  letter-spacing: -0.1px;
  text-align: left;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: -0.1px;
  text-align: left;
  font-weight: 500;
  color: #465866;
}

.fontWidgit {
  color: #94aec2;
  position: relative;
  left: 480px;
}

.local,
.current,
.condition {
  width: 100%;
  display: flex;
  justify-content: center;
}

.condition,
.current {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.11px;
  text-transform: capitalize;
  color: #465866;
  height: 24px;
}

.condition {
  margin-bottom: 20px;
}

.local {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: -0.11px;
  text-transform: capitalize;
  color: #465866;
  height: 78px;
}

.condition_icon {
  position: relative;
  top: 120px;
  left: 100px;
  width: 100px;
  height: 100px;
}

.condition_icon_small {
  position: relative;
  top: 47px;
  left: 21px;
  width: 40px;
  height: 40px;
}

.error {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.11px;
  color: #465866;
}
