body {
  background-color: #fcfeff;
}

.container {
  margin-top: 15px;
}

.test-rapper {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.local_detail {
  margin-top: 20px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2e3131;
  margin: 0;
}

.local h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: -0.11px;
  text-transform: capitalize;
  color: #465866;
}

.local h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.11px;
  color: #465866;
}

.pageCenter {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp_digit,
.unit {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: -0.11px;
  color: #465866;
}

.humid_wind {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.11px;
  color: #465866;
}

.big_circle {
  height: 200px;
  width: 200px;
  margin-left: 59px;
  margin-right: 10px;
  border-radius: 50%;
}

.local {
  padding-top: 40px;
  padding-bottom: 5px;
}

.current {
  font-size: 20px;
  line-height: 25px;
}

.col {
  text-align: center;
}

.day_future {
  margin: 0;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.11px;
  color: #465866;
}

.temp_future {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.11px;
  padding-top: 10px;
  color: #465866;
}

.strong {
  font-weight: 900;
}

.capitalize {
  text-transform: capitalize;
}

.temp_circle {
  width: 60%;
  border-radius: 50%;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.widgetContainer {
  width: auto;
  width: 760px;
  top: 350px;
  position: relative;
  margin: 0 auto;
}

.centerme {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.firstWidgetCircle {
  width: 294px;
  height: 294px;
  display: block;
  border-radius: 50%;
  background: #ffe18f;
}

.widgetText {
  display: block;
  width: auto;
  height: 62px;
  z-index: 10;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #465866;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.11px;
}

.convertCelcius {
  background-color: #465866;
  border-radius: 50%;
  padding-left: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.convertFahrenheit {
  background-color: #465866;
  border-radius: 50%;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header {
  position: relative;
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageName {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #465866;
  width: 300px;
  position: absolute;
  top: 0px;
  left: 30px;
}

.searchForm input {
  max-width: 700px;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  padding-left: 25px;
  border: 0.8px solid #aec2d2;
  background-color: #fcfeff;
  text-align: left;
  outline: none;
}

::placeholder {
  color: #94aec2;
  font-size: 20px;
  letter-spacing: -0.1px;
  text-align: left;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: -0.1px;
  text-align: left;
  font-weight: 500;
  color: #465866;
}

.conversion {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: #fcfeff;
  letter-spacing: 15px;
  position: absolute;
  top: 0px;
  right: 30px;
}

.fontWidgit {
  color: #94aec2;
  position: relative;
  left: 480px;
}

.locall,
.currentt,
.description {
  width: 100%;
  display: flex;
  justify-content: center;
}

.description,
.currentt {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.11px;
  text-transform: capitalize;
  color: #465866;
}

.description {
  margin-bottom: 20px;
}

.locall {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: -0.11px;
  text-transform: capitalize;
  color: #465866;
}
